*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
scroll-behavior: smooth;
}

.lily{
  font-family: "Lily Script One", sans-serif;
}

.jul{
  font-family: "Julius Sans One", sans-serif;
}

.pink{
  background-color: rgba(255, 102, 110, 1);
}

.beige{
  background-color: rgba(255, 222, 205, 1)
}

.main-pink{
  color: rgba(240, 154, 190, 1);
}

.all-carusel {
  transition: transform 0.5s ease-in-out;
}

.profile-bg{
  background-color: rgba(245, 228, 244, 1);
}

.cus-bg{
  background-color: rgba(210, 239, 241, 1);
}

.mm {
  opacity: 1;
  transition: opacity 1s ease-in-out; /* Add this line */
}

.invisible {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease-in-out; /* Add this line */
}


